@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-Black.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-BlackIt.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-BoldIt.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-ExtraLight.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-Bold.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-ExtraLightIt.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-ExtraLightIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-It.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-Regular.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-Light.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-LightIt.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-Semibold.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Serif_Pro';
  src: url('../fonts/SourceSerifPro-SemiboldIt.woff2') format('woff2'),
  url('../fonts/SourceSerifPro-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Liberation_Sans';
  src: url('../fonts/LiberationSans-BoldItalic.woff2') format('woff2'),
  url('../fonts/LiberationSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Liberation_Sans';
  src: url('../fonts/LiberationSans-Bold.woff2') format('woff2'),
  url('../fonts/LiberationSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liberation_Sans';
  src: url('../fonts/LiberationSans-Regular.woff2') format('woff2'),
  url('../fonts/LiberationSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liberation_Sans';
  src: url('../fonts/LiberationSans-Italic.woff2') format('woff2'),
  url('../fonts/LiberationSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

